/* Setting Up Fonts */
@font-face {
    font-family: "Sequel";
    font-weight: 300;
    src: url("./fonts/sequel_sans_book_head-webfont.woff2") format("woff2"), 
         url("./fonts/sequel_sans_book_head-webfont.woff") format("woff")
}
@font-face {
    font-family: "Sequel";
    font-weight: 400;
    src: url("./fonts/sequel_sans_semi_bold_disp-webfont.woff2") format("woff2"), 
         url("./fonts/sequel_sans_semi_bold_disp-webfont.woff") format("woff")
}
@font-face {
    font-family: "Sequel";
    font-weight: 700;
    src: url("./fonts/sequel_sans_bold_disp-webfont.woff2") format("woff2"), 
         url("./fonts/sequel_sans_bold_disp-webfont.woff") format("woff")
}
@font-face {
    font-family: "Sequel";
    font-weight: 800;
    src: url("./fonts/sequel_sans_heavy_disp-webfont.woff2") format("woff2"), 
         url("./fonts/sequel_sans_heavy_disp-webfont.woff") format("woff")
}


/* Declaring CSS Variables In Root */
:root {
    --primary-background: #e0d9d3;
    --primary-main: #e06805;
    --dark-color: #2d2827;
    --highlight-color: #e2e6c7;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul */
ul {
  list-style: none;
}

/* Adjusting Link Settings */
a {
    text-decoration: none;
    color: var(--dark-color);
    display: block; /* Ensures the entire list item area is clickable */
}




li:hover,
a:hover {
    cursor: pointer;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
  }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/* Styles */

body {
    background-color: var(--primary-background);
    margin: 0;
    min-height: 100vh;
}

/* Main Parent Grid Container */
main {
    display: grid;
    grid-template-columns: minmax(280px, 1fr) 5fr;
    grid-template-rows: 1fr; 
    min-height: 100vh;
    /*grid-auto-flow: column; */
}

/* Children Of Main */

.sidebar {
    background-color: var(--primary-main);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 200px 2fr 1fr 3fr;
}

.logo {
    margin-top: 1rem;
    justify-self: center;
    width: 80%;
    height: auto;
}

.main-section {
    background-color: var(--primary-background);
    grid-column: 2 / -1;
    

}

.bottom-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-links {
    font-family: "Sequel", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--dark-color);
    
}

.icon {
    width: 45px;
    height: auto;
    margin-right: 8px;
}

.side-bar-links {
   display: flex;
   justify-content:flex-start;
   align-items: center;
   margin-left: 2rem;
   
   padding: 5px;
}

.side-bar-links a {
    display: flex;
    align-items: center;
    color: inherit;
}

.side-bar-links a {
    display: flex;
    align-items: center;
}

.settings-links {
    font-family: "Sequel", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
}

.side-bar-settings {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;
    padding: 5px;
}

.side-bar-settings a {
    display: flex;
    align-items: center;
}

/* Search Bar Styling */

.search {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: #f6f6f6;
    width: 600px;
}

.search-input {
    font-size: 16px;
    font-family: "Lexand", sans-serif;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent; 
    flex: 1;
}

.top-section {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bottom-section {
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.top-right-profile-section-container {
    grid-column: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.profile-photo {
    width: 45px;
    height: auto;
    border-radius: 50%;
    margin-right: 8px;
}

.large-profile-photo {
    width: 70px; 
    height: auto;
    border-radius: 50%;
    margin-right: 15px;
}

.empty-container {
    grid-column: 2 / 3;
}

.profile-name {
    font-size: 1.3rem;
    font-family: "Sequel";
    font-weight: 700;
}

.profile-greeting-container {
    display: flex;
    flex-direction: column;
    font-family: "Sequel";
    font-size: 1rem;
    font-weight: 300;
}

.bottom-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: start;
    margin-left: 2rem;
}

.navlinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 2rem;
}

button {
    max-width: 100px;
}
